{% include header.html %}

<div class="md-main-content">
  <div class="flat-content-container">
    <div class="flat-post-header">
      <h1 class="flat-post-title">{{ page.title }}</h1>
      {% if page.date %}
        <p class="flat-post-meta">
          <span class="material-icons" style="vertical-align: middle; margin-right: 4px; font-size: 16px;">schedule</span>
          {{ page.date | date: "%B %d, %Y" }}
        </p>
      {% endif %}
    </div>
    <div class="flat-post-content">
      {{ content }}
    </div>
  </div>
</div>

{% include footer.html %}
