---
layout: post
---

<div class="flat-tag-page">
    <h1 class="flat-tag-title">Articles tagged with "{{ page.tag-name }}"</h1>
    <ul class="flat-list">

        {% for post in site.posts %}
        {% if post.tags contains page.tag-name %}
        <li class="flat-list-item">
            <a href="{{ post.url }}">{{ post.title }}</a>
            <div class="flat-list-meta">published {{ post.date | date: "%Y-%m-%d" }}</div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>